<section class="main-content">
    <h1 id="title">Лабораторная работа №1</h1>
    <div class="description">
        <div class="main-desc">
            <b>Цель работы: </b> Сверстать web-страницу средствами HTML5 и CSS.<br>
        </div>
        <b style="font-size: 20pt;">Задание</b><br>
        <br>
        <div class="quest">
            Оформить содержимое страниц с использованием стилевых таблиц.
            Применить различные способы форматирования текста, абзацев, рисунков, списков и таблиц.<br>
        </div>
        <div class="img-block">
            <img src="/resources/img/struct.png" alt="" width="319">
        </div>
    </div>
</section>