<nav>
    <ul>
        <li><a href="http://gstu.by">ГГТУ им П.О. Сухого</a></li>
        <li><a href="http://vk.com">Вконтакте</a></li>
        <li><a href="http://youtube.com">YouTube</a></li>
        <li><a href="http://google.by">Google</a></li>
    </ul>
</nav>