<section class="main-content">
    <h1 id="title">Лабораторная работа №2</h1>
    <div class="description">
        <div class="main-desc">
            <b>Цель работы: </b> изучить объектную природу языка Javascript.<br>
        </div>
        <b style="font-size: 20pt; text-align: center; display: block">Задание</b><br>
        <br>
        <div class="quest">
            <b>Задание 1.</b> Сгенерировать строку из случайных латинских букв.<br>
            <b>Задание 2.</b> Найти в массиве количество и сумму элементов, которые делятся на 3.<br>
        </div>
        <div class="result">
            <div class="exe" id="exe1">
                <button onclick="generateString()">Сгенерировать строку</button>
                <div class="out"></div>
            </div>
            <div class="exe" id="exe2">
                <input type="text" id="arrayEntry" placeholder="Введите элементы массива через запятую">
                <button onclick="divCountArray()">Вычислить</button><br>
                <div class="out"></div>
            </div>
        </div>
    </div>
</section>